@font-face {
    src: url('/fonts/GFSNeohellenic-Regular.ttf');
}

@font-face {
    src: url('/fonts/GFSNeohellenic-Bold.ttf');
}

.root {
    -fx-font-size: 20px;
    -fx-font-family: 'GFS Neohellenic Regular';
    -fx-background-color: #D0BFFF;
}

.center {
    -fx-background-color: #D0BFFF;
}

.button {
    -fx-background-color: #FFF3DA;
    -fx-border-radius: 10px;
    -fx-min-height: 35px;
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.button:hover {
    -fx-background-color: #D0BFFF;
    -fx-text-fill: black;
    /*-fx-font-weight: bold;*/
    -fx-font-family: 'GFS Neohellenic Bold';
    -fx-translate-y: -2px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 15, 0, 0, 0);
}

.list-cell {
    -fx-background-color: #DFCCFB;
}

.list-cell:filled:selected {
    -fx-background-color: #D0BFFF;
    /*-fx-font-weight: normal;*/
    -fx-font-family: 'GFS Neohellenic Regular';
}

.list-cell:filled:selected:focused {
    -fx-background-color: #D0BFFF;
    /*-fx-font-weight: bold;*/
    -fx-font-family: 'GFS Neohellenic Bold';
}

.titled-pane > .title {
    -fx-background-color: #BEADFA;
    -fx-border-width: 2px;
    -fx-border-color: #DFCCFB;
    /*-fx-font-weight: bold;*/
    -fx-font-family: 'GFS Neohellenic Bold';
}

.titled-pane > .content {
    -fx-background-color: #FFF3DA;
}
